{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
</head>


<body class="text-center">
    <nav class="flex-sm-row bg-warning"  class="imagen">
        <img class="imagen" src="{% static 'img/logo.png' %}" alt="Descripción de la imagen"/>
        <img class="imagen" src="{% static 'img/logo-color-alta-1.png' %}" alt="Descripción de la imagen"/>
        <h2 class="imagen">Empleabilidad</h2>
    </nav>
        <table class="table">
            <thead>
                <div>
                    <tr class="table-warning ">
                        <th scope="col">Nombre</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Empleabilidad</th>
                        <th scope="col">Empresas</th>
                    </tr>
                    <tr class="table-light ">
                        <th scope="row">jasbleidy</th>
                        <td>12456789</td>
                    <td>Contratado</td>    
                    <td>amazon</td>
                </tr>
            </thead>
        </table>
        <div class="fondo">
        </div>
        <footer id="footer" class="bg-warning text-dark">
            <div class="container" id="aver">

                <div class="row">
                    <div class="col-md-4" >
                        <img src="{% static 'img/Logo-color-alta-1.png' %}" alt="EducMas Logo" class="img-fluid">
                    </div>
                    <div id="contact" class="col-md-4">
                        <h5>Si tienes alguna pregunta, contáctanos:</h5>
                        <p>Teléfono: +123456789</p>
                        <p>Correo: info@example.com</p>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'img/logo.png' %}" alt="EducMas Logo" class="img-fluid" id="pro">
                    </div>
                </div>
            </div>
        </footer>
        
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>