/* Estilo para el footer */
#admin-footer {
    background-color: #F2BC1B;
    color: #000;
    text-align: center;
    position: absolute; /* Cambia a posición fija */
    left: 0;
    width: 100%;
    padding: 5px 0;
    bottom: 0;
}


/* Estilo para el contenedor del contenido */
.footer-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

/* Estilo para la imagen de contacto */
.footer-content img {
    width: 120px; 
}

/* Estilo para el texto de contacto */
.footer-content p {
    font-family: 'Montserrat', sans-serif; 
    margin: 0; 
    margin-top: 5px;
    font-size: 0.75rem;
}

/* Agrega margen inferior al nav con clase "sticky" */
#nav-sidebar.sticky {
    margin-bottom: 80px; /* Ajusta el valor según sea necesario */
}

body {
    margin-bottom: 100px; /* Ajusta el valor según sea necesario */
}

/* Estilo para el footer en la vista especial */
#admin-footer.special-footer {
    position: fixed; /* Cambia a posición fija para la vista especial */
    
}