
#header  {
    background-color: #F2BC1B; 
}

#site-name a {
    color: #ffffff; 
    display: flex; 
    align-items: center; 
}


.brand-title {
    color: #000000;
    margin-left: 1rem; 
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}


#header div.brand a.viewsitelink {
    display: none;
}


#user-tools a[href="/"] {
    display: none;
}



input[type="submit"] {
    background-color: #000000; 
    color: #FFFFFF; 
    
}

.module h2, .module caption, .inline-group h2 {
    background: #f2bc1bc2;

}

#recent-actions-module {
    display: none;
}


body {
    font-family:"Montserrat", sans-serif;
}

div.breadcrumbs {
    background: #f2bc1bc2;
}


.object-tools a:link,
.object-tools a:visited {
    display: block;
    float: left;
    padding: 3px 20px; 
    background: #40bd53; 
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: relative; 
}


.object-tools a:link::after,
.object-tools a:visited::after {
    content: "+"; 
    position: absolute; 
    right: 5px;
    top: 50%;
    transform: translateY(-50%); 
    font-weight: bold;
    font-size: 1rem; 
}
