/* Estilos generales para el footer */
#admin-footer {
    background-color: #F2BC1B; /* Color amarillo */
    color: #000; /* Color del texto */
    text-align: center; /* Alinea el contenido horizontalmente en el centro */
    position: absolute; /* Mantén position como absolute */
    left: 0;
    width: 100%;
    padding: 10px 0; /* Espaciado interno del footer (ajustado) */
    clear: both; /* Evita que elementos floten sobre el footer */
    transition: transform 0.3s; /* Agregamos una transición para una apariencia suave */
    transform: translateY(100%); /* Inicialmente oculta el footer */
    bottom: 0; /* Agregamos esto para mantener el footer en la parte inferior de la página */
}

/* Estilo para el contenedor del contenido */
.footer-content {
    display: flex; /* Utiliza el modelo de caja flexible */
    flex-direction: column; /* Cambia la dirección de flexión a vertical */
    align-items: center; /* Centra verticalmente los elementos */
}

/* Estilo para el texto de contacto */
.footer-content p {
    font-family: 'Montserrat', sans-serif; /* Establece la fuente a Montserrat */
    margin: 0; /* Elimina el margen superior e inferior para centrar verticalmente el texto */
    margin-top: 5px; /* Añade un margen superior (ajustado) */
    font-size: 0.75rem; /* Tamaño de fuente ajustado */
}
