
body{
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.add{
    font-size: xx-large;

}



.table-responsive{
  display: flex;
  position: relative;
  top: -1rem;
}

.container{
  background-color: #d9d9d9 ;
  position: relative;
  width: 100%;

}



.table-striped {
  overflow-x: auto; /* Permite el scroll horizontal */
  top: 0.5rem;
  position: relative;
}
.input{
  border-color: #4d4d4d;
  width: 15rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

.titulo{
  font-size: x-large;
}

.container-fluid2{
  width: 100%;
  height: 10rem;
}

.row{

  margin-top: 2rem;
  width: 20rem;
  position: relative;
  border-top: 10rem;
}
.col{
  background-color: #ffe3ad;
  border-radius: 2rem;
  border-color: #ffff;
  display: flex;
  justify-content:space-evenly;
  font-size: larger;
  margin-right: 1rem;
  

}


.col-1{
  background-color: #ffe3ad;
  border-radius: 2rem;
  border-color: #ffff;
  display: flex;
  justify-content:space-evenly;
  font-size: large;
  margin-right: 1rem;
  width: 15rem;
  top: 2rem;
  position: relative;

}

.bauble_box .bauble_label {
  background: rgb(255, 255, 255);
  background-position: 62px 5px;
  background-repeat: no-repeat;
  background-size: auto 5px;
  border: 0;
  border-radius: 50px;
  box-shadow: inset 0 10px 20px rgba(0,0,0,.4), 0 -1px 0px rgba(0,0,0,.2), inset 0 -1px 0px #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  height: 40px;
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 8rem;
  left: 2rem;
}

.bauble_box .bauble_label:before {
  background-color: rgb(255, 255, 255);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 30% auto;
  border-radius: 50%;
  box-shadow: inset 0 -5px 25px #3fa500, 0 10px 20px rgba(0,0,0,.4);
  content: '';
  display: block;
  height: 30px;
  left: 5px;
  position: absolute;
  top: 6px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  width: 30px;
  z-index: 2;
}

.bauble_box input.bauble_input {
  opacity: 0;
  z-index: 0;
}

/* Checked */
.bauble_box input.bauble_input:checked + .bauble_label {
  background-color: rgb(255, 255, 255);
}

.bauble_box input.bauble_input:checked + .bauble_label:before {
  background-position: 150% 0;
  box-shadow: inset 0 -5px 25px #c40808, 0 10px 20px rgb(0,0,0,.4);
  left: calc( 100% - 35px );
}



.container-btn{
  position: relative;
  height: 8%;
}

.btn{
  color: #fff;
}

.btn-primary{
  background:#00ff22 ;
  border-color: #00ff22;
  font-size: x-large;
  position: relative;
  width: 7rem;
  left: 70%;

}


.btn-secundary{
  position: relative;
  font-size: x-large;
  background:#f79d0b !important ;
  left: 70%;


}

p{
  display: flex !important;
  font-size: x-large;
}