#inlineFormCustomSelect{
  color: #030303;
  background-color: rgb(250, 250, 249);
  width: 100px;
  height: 30px;
  border-radius: 20px;
}

table tr {
  text-align: center;
  vertical-align: middle;
  height: 60px; 
}

th, td {
  width: 33.33%; /* columnas iguales */
  text-align: center;
}