#inlineFormCustomSelect{
  color: #030303;
  background-color: rgb(250, 250, 249);
  width: 100px;
  height: 30px;
  border-radius: 20px;
}

.my-section {
  min-height: calc(100vh - 100px);
  padding-top: 50px;
  padding-bottom: 30px;
}

.first-table tr {
  text-align: center;
  vertical-align: middle;
  height: 60px; 
}

.first-table th,.first-table td {
  width: 33.33%;
  text-align: center;
}

.second-table tr {
  text-align: center;
  vertical-align: middle;
  height: 60px; 
}

.second-table th,.second-table td {
  width: 25%;
  text-align: center;
}