.navbar {
  background-color: #F2BC1B;
  padding: 10px 0;
  color: white;
}

.navbar-tittle{
  color: #000;
}

.logo {
  width: 98px; 
  height: 25px; 
}
.icon-search {
  fill: black;
}

.button-exit {
  fill: black;
}

.have-question {
  fill: black;
}

#infoBox {
  display: none;
  background-color: #000000;
  border: 1px solid #ccc;
  padding: 30px;
  position: absolute;
  bottom: 40px; /* Ajusta la posición vertical */
  left: 10px; /* Ajusta la posición horizontal */
  border-radius: 20px;
}