/* Estilos generales */
body {
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 30%;
    margin: 0 auto;
    border-radius: 30px;    
    height: 25rem;
  }


  
  /* Estilos del panel */
  .panel {
    border: 1px solid #FFC107;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .panel {
    background-color: #FFC107;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: larger;
    text-align: center;
    height: 21rem;
  }

  .panel-title{
    display:inline-block;
    font-size: x-large;

  }

.line * {
  box-sizing: border-box;
}
.line {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 355px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}


  .container-img{
    text-align: center;
  }

  .container-img2 {
    text-align:center;
  }

  /* Estilos del formulario */
  .form-control {
    display: flex;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    outline: none;
    border-radius: 10px;
    padding-left: 1rem;
    font: 1em sans-serif;
    margin-bottom: 30px;
  }
  
  .form-control:focus {
    border-bottom-color: #ffffff;
  }

  .form {
    height: 10rem;
  }

  .row {
    position: relative;
    margin-top: 3rem;
  }

  
  .btn {
    display: flex;
    width: 50%;
    height: 40px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: large;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  .btn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }
  
  .btn:active {
    opacity: 0.7;
  }


/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

  .container{
   max-width: 60%;
  }
}



/* `md` applies to small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .col-md-6 {
    width: 100%;

  }
 
  .col-md-offset-3 {
    margin-left: 0;
  }

  .container {
   max-width: 60%;
   margin: 0 auto;
  }

  .line {
   width: 100%;
  }
 
 }

@media(min-width: 768px){
  .line {
    width: 100%;
  }

  .container{
    max-width: 35%;
  }

  .container-img{

  }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

 }

/* `xl` applies to large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 

 }

/*`xxl` applies to x-large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) { 
 }