{% load static %}

{% block branding %}
<footer id="admin-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <img src="{% static 'img/logo-negro-alta.png' %}" width="150" alt="Tu Imagen">
                    <p>Si tienes dudas contactanos al número: +57 3011664111</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}



<link rel="stylesheet" type="text/css" href="{% static 'css/admin_footer_styles.css' %}">
