{% load static %}

{% block branding %}
<footer id="admin-footer" class="special-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <img src="{% static 'img/logo-negro-alta.png' %}" width="150" alt="Tu Imagen">
                    <p>
                        Si tienes dudas, contáctanos al número +57 3011664111
                        o al correo <i class="bi bi-envelope"></i> <a href="mailto:cgranados@educamas.com.co" style="color: blue;">cgranados@educamas.com.co</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" href="{% static 'Css/admin_footer_styles.css' %}">
