{% extends 'Dashboard/base.html' %}

{% block  title %} Cohortes {% endblock %} 

{% block content %}

{% load static %}

<body>
    <section class="my-section">
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead style="background-color: #FFDC73">
                <tr>
                    <th scope="col" rowspan="3">Cohorte</th>
                    <th scope="col" rowspan="3">Estado de la cohorte</th>
                    <th scope="col" rowspan="3">Número de integrantes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>
                    <!-- boton -->
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Estado...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                    </td>
                    <td>
                        25 Integrantes
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                    <!-- boton -->
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Estado...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                    </td>
                    <td>
                        25 Integrantes
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                    <!-- boton -->
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Estado...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                    </td>
                    <td>
                        25 Integrantes
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                    <!-- boton -->
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Estado...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                    </td>
                    <td>
                        25 Integrantes
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                    <!-- boton -->
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Estado...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                    </td>
                    <td>
                        25 Integrantes
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                    <!-- boton -->
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Estado...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                    </td>
                    <td>
                        25 Integrantes
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                    <!-- boton -->
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Estado...</option>
                            <option value="1">Activo</option>
                            <option value="2">Inactivo</option>
                        </select>
                    </div>
                    </td>
                    <td>
                        25 Integrantes
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                        </svg>
                    </td>
                </tr>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#9FBF2A" class="bi bi-plus-circle-fill" viewBox="0 0 16 16" style="position: fixed; z-index: 999; bottom: 40px; left: 40px;">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
                </tbody>
            </table>
        </div>
    </section>
</body>

{% endblock  %}