{% extends 'Dashboard/base.html' %}

{% block  title %} Agrega Estudiantes {% endblock %} 

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.min.css">
<link rel="stylesheet" href="../../static/Css/stylesAddStudent.css">
<br>
<br>


    <div class="card-body">
      <h5 class="card-title">Create user</h5>
      <hr>
      <form>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label  class="form-label">Correo electrónico</label>
                    <input type="text"  class="form-control">
                </div>
                <div class="mb-3">
                    <label maxlength="10" class="form-label">Numero de Documento</label>
                    <input type="text" maxlength="10" class="form-control" >
                </div>
                <div class="mb-3">
                    <label class="form-label">Empresa a la que aplico</label>
                    <input type="text" class="form-control" >
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Proceso de empleavilidad</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <br>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Numero de cohorte
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Cohorte 1</a></li>
                      <li><a class="dropdown-item" href="#">cohorte 2</a></li>
                      <li><a class="dropdown-item" href="#">cohorte 3</a></li>
                    </ul>
                  </div>


                  <div class="container" style="padding-top: 80px;">
                    <div class="switch-toggle switch-candy">
                        <input id="rechazado" name="view" type="radio">
                        <label for="rechazado">Rechazado</label>
                
                        <input id="enproceso" name="view" type="radio" checked>
                        <label for="enproceso">En Proceso</label>
                
                        <input id="contratado" name="view" type="radio">
                        <label for="contratado">Contratado</label>
                        
                        <a></a>
                    </div>
                </div>
            
        </div>
      </form>

      
<br>

    <div class="d-flex justify-content-end">
        <button id="borrar" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-danger mr-2">Borrar</button>
        <button id="enviar" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-lg btn-success">Enviar</button>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.all.min.js"></script>
<script src="../../static/Js/scriptAddStudent.js"></script>
<script src="../../static/Js/sweetAlertAdd.js"></script>

{% endblock  %}