.imagen, .imagen2 {
    display: inline;
    width: 20%;
    vertical-align: bottom;
    margin-right: 180px;
}

h2.imagen:last-child {
    margin-right: 0;
}

h2.imagen {
    vertical-align: bottom;
    line-height: 1.5em;
    font-size:2.5rem
}

table {
    margin-bottom: 0px; /* Puedes ajustar el valor (en píxeles u otra unidad) según tu preferencia */
}

.fondo {
    height: 25rem;
    margin-bottom: 0;
    margin-top: 0;
    background-color: rgba(251, 249, 248, 0.822);
    background-repeat: no-repeat;
}

.btn-group button{
    color: #030303;
    background-color: rgb(250, 250, 249);
    width: 200px;
}

#aver{
    
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(1, 1, 0);
    
}

#pro{
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 1.5rem;
    color: rgb(25, 103, 171);
    background-color: rgb(247, 190, 3);
}


#footer, #aver{
    line-height: 2px;
    height: 110px;
}

#contact{
    margin-top: 0.8rem;
}