body, html, nav{
    margin: 0;
    padding: 0;
}

footer#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #ffc107;
    line-height: 2px;
    
 }

 #footer {
    font-size: 14px; 
    padding: 5px; 
}

#contact h5, #contact h6 {
    margin: 0px 0; 
}

.todo {
    background-color: aqua;
}